In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [5]:
#find url and store it in a variable
url = "https://de.wikipedia.org/wiki/Die_500_besten_Songs_aller_Zeiten_(Rolling_Stone)"

In [6]:
#download html with a get request
response = requests.get(url)
response.status_code

200

In [7]:
#parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")

In [8]:
for title in soup.select('#mw-content-text > div.mw-parser-output > table > tbody > tr:nth-child(3) > td:nth-child(3)'):
    print(title.get_text())

Like a Rolling Stone

In [10]:
for artist in soup.select('#mw-content-text > div.mw-parser-output > table > tbody > tr:nth-child(3) > td:nth-child(4)'):
    print(artist.get_text())

Bob Dylan

In [11]:
for artist in soup.select('#mw-content-text > div.mw-parser-output > table > tbody > tr > td:nth-child(4)> a'):
    print(artist.get_text())

Bob Dylan
The Rolling Stones
John Lennon
Marvin Gaye
Aretha Franklin
The Beach Boys
Chuck Berry
The Beatles
Nirvana
Ray Charles
The Who
Sam Cooke
The Beatles
Bob Dylan
The Clash
The Beatles
The Jimi Hendrix Experience
Chuck Berry
Elvis Presley
The Beatles
Bruce Springsteen
The Ronettes
The Beatles
The Impressions
The Beach Boys
Otis Redding
Derek and the Dominos
The Beatles
The Beatles
Johnny Cash
Led Zeppelin
The Rolling Stones
Ike & Tina Turner
The Righteous Brothers
The Doors
U2
Bob Marley
The Rolling Stones
Buddy Holly
the Crickets
Martha Reeves and the Vandellas
The Band
The Kinks
Little Richard
Ray Charles
Elvis Presley
David Bowie
The Jimi Hendrix Experience
Simon & Garfunkel
The Eagles
Smokey Robinson
the Miracles
Grandmaster Flash & the Furious Five
Prince
Percy Sledge
The Kingsmen
Little Richard
Sex Pistols
Procol Harum
Michael Jackson
Bob Dylan
Al Green
Jerry Lee Lewis
Bo Diddley
Buffalo Springfield
The Beatles
Cream
Bob Marley and the Wailers
Elvis Presley
Bob Dylan
Roy Orbison
Dionne Warwick
James Brown
The Beach Boys
Stevie Wonder
Eddie Cochran
Led Zeppelin
The Beatles
Elvis Presley
James Brown
The Byrds
The Kinks
Marvin Gaye
Fats Domino
The Beatles
The Police
Patsy Cline
Bruce Springsteen
Johnny Cash
The Temptations
The Mamas and the Papas
The Five Satins
Elvis Presley
Ramones
U2
Little Richard
Carl Perkins
Jerry Lee Lewis
Chuck Berry
Al Green
Creedence Clearwater Revival
Gnarls Barkley
The Rolling Stones

In [12]:
artists = []
for artist in soup.select('#mw-content-text > div.mw-parser-output > table > tbody > tr > td:nth-child(4)> a'):
    artists.append(artist.get_text())

In [13]:
songs = []
for song in soup.select('#mw-content-text > div.mw-parser-output > table > tbody > tr > td:nth-child(3)> a'):
    songs.append(song.get_text())

In [14]:
df1 = pd.DataFrame(artists, columns=['Artist'])

In [15]:
df2 = pd.DataFrame(songs, columns=['Song'])

In [16]:
result = pd.concat([df1, df2], axis=1)
result.head(50)

                             Artist                              Song
0                         Bob Dylan              Like a Rolling Stone
1                The Rolling Stones     (I Can’t Get No) Satisfaction
2                       John Lennon                           Imagine
3                       Marvin Gaye                           Respect
4                   Aretha Franklin                   Good Vibrations
5                    The Beach Boys                   Johnny B. Goode
6                       Chuck Berry                          Hey Jude
7                       The Beatles           Smells Like Teen Spirit
8                           Nirvana                      What’d I Say
9                       Ray Charles                     My Generation
10                          The Who            A Change Is Gonna Come
11                        Sam Cooke                         Yesterday
12                      The Beatles               Blowin’ in the Wind
13                        Bob Dylan                    London Calling
14                        The Clash          I Want to Hold Your Hand
15                      The Beatles                       Purple Haze
16      The Jimi Hendrix Experience                         Hound Dog
17                      Chuck Berry                         Let It Be
18                    Elvis Presley                       Born to Run
19                      The Beatles                        Be My Baby
20                Bruce Springsteen                        In My Life
21                     The Ronettes                    God Only Knows
22                      The Beatles  (Sittin’ On) The Dock of the Bay
23                  The Impressions                             Layla
24                   The Beach Boys                 A Day in the Life
25                     Otis Redding                             Help!
26            Derek and the Dominos                   I Walk the Line
27                      The Beatles                Stairway to Heaven
28                      The Beatles            Sympathy for the Devil
29                      Johnny Cash   You’ve Lost That Lovin’ Feelin’
30                     Led Zeppelin                     Light My Fire
31               The Rolling Stones                               One
32                Ike & Tina Turner                  No Woman, No Cry
33           The Righteous Brothers                     Gimme Shelter
34                        The Doors             Dancing in the Street
35                               U2                        The Weight
36                       Bob Marley                   Waterloo Sunset
37               The Rolling Stones                      Tutti-Frutti
38                      Buddy Holly                Georgia on My Mind
39                     the Crickets                  Heartbreak Hotel
40  Martha Reeves and the Vandellas                          "Heroes"
41                         The Band          All Along the Watchtower
42                        The Kinks        Bridge over Troubled Water
43                   Little Richard                  Hotel California
44                      Ray Charles                       The Message
45                    Elvis Presley                    When Doves Cry
46                      David Bowie          When a Man Loves a Woman
47      The Jimi Hendrix Experience                       Louie Louie
48                Simon & Garfunkel                   Long Tall Sally
49                       The Eagles              Anarchy in the U. K.

PYTHON LINKS

In [17]:
url ='https://en.wikipedia.org/wiki/Python'

#download html with a get request
response = requests.get(url)
response.status_code 

#parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")

In [18]:
soup.select("#mw-content-text > div.mw-parser-output > ul > li > a")[0]["href"]

'/wiki/Pythonidae'

In [19]:
links = []

for i in range(len(soup.select("#mw-content-text > div.mw-parser-output > ul > li > a"))):
    links.append("wikipedia.org" + soup.select("#mw-content-text > div.mw-parser-output > ul > li > a")[i]["href"])

links

['wikipedia.org/wiki/Pythonidae',
 'wikipedia.org/wiki/Python_(mythology)',
 'wikipedia.org/wiki/Python_(programming_language)',
 'wikipedia.org/wiki/CMU_Common_Lisp',
 'wikipedia.org/wiki/PERQ#PERQ_3',
 'wikipedia.org/wiki/Python_of_Aenus',
 'wikipedia.org/wiki/Python_(painter)',
 'wikipedia.org/wiki/Python_of_Byzantium',
 'wikipedia.org/wiki/Python_of_Catana',
 'wikipedia.org/wiki/Python_Anghelo',
 'wikipedia.org/wiki/Python_(Efteling)',
 'wikipedia.org/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 'wikipedia.org/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 'wikipedia.org/wiki/Python_(automobile_maker)',
 'wikipedia.org/wiki/Python_(Ford_prototype)',
 'wikipedia.org/wiki/Python_(missile)',
 'wikipedia.org/wiki/Python_(nuclear_primary)',
 'wikipedia.org/wiki/Colt_Python',
 'wikipedia.org/wiki/PYTHON',
 'wikipedia.org/wiki/Python_(film)',
 'wikipedia.org/wiki/Monty_Python',
 'wikipedia.org/wiki/Timon_of_Phlius',
 'wikipedia.org/wiki/Cython',
 'wikipedia.org/wiki/Pithon']

# US HOUSE

In [20]:
url ='http://uscode.house.gov/download/download.shtml'

#download html with a get request
response = requests.get(url)
response.status_code 

#parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")

In [21]:
soup.select("#us\/usc\/t16")

[<div class="usctitlechanged" id="us/usc/t16">

           Title 16 - Conservation

         </div>]

In [22]:
soup.findAll(class_='usctitlechanged')

[<div class="usctitlechanged" id="us/usc/t16">

           Title 16 - Conservation

         </div>]

# FBI

In [23]:
url ='https://www.fbi.gov/wanted/topten'

#download html with a get request
response = requests.get(url)
response.status_code 

#parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")

In [24]:
soup.select("h3 > a")[0]

In [25]:
wanted = []

for criminal in (soup.select("h3 > a")):
    wanted.append(criminal.get_text())

wanted

['JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'RAFAEL CARO-QUINTERO',
 'YULAN ADONAY ARCHAGA CARIAS',
 'EUGENE PALMER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'OCTAVIANO JUAREZ-CORRO']

# EARTHQUAKE

In [26]:
url ='https://www.emsc-csem.org/Earthquake/earthquake.php?id=1124328'

#download html with a get request
response = requests.get(url)
response.status_code 

#parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")

In [27]:
soup.findAll(class_='point')

[<td class="point">Magnitude</td>,
 <td class="point">Region</td>,
 <td class="point">Date time</td>,
 <td class="point">Location</td>,
 <td class="point">Depth</td>,
 <td class="point">Distances</td>]

In [28]:
soup.findAll(class_='point2')

[<td class="point2">ML 2.3</td>,
 <td class="point2">SICILY, ITALY</td>,
 <td class="point2">2022-05-02   17:39:49.2 UTC</td>,
 <td class="point2">38.35 N ; 15.41 E</td>,
 <td class="point2">120 km</td>]

In [29]:
id = []

for value in (soup.findAll(class_='point')):
    id.append(value.get_text())

id

['Magnitude', 'Region', 'Date time', 'Location', 'Depth', 'Distances']

In [30]:
data = []

for value in (soup.findAll(class_='point2')):
    data.append(value.get_text())

data

['ML 2.3',
 'SICILY, ITALY',
 '2022-05-02   17:39:49.2 UTC',
 '38.35 N ; 15.41 E',
 '120 km']

In [32]:
# df = pd.DataFrame(data, columns=id)

# df.head()

# WIKIPEDIA LANGUAGES

In [34]:
url = 'https://www.wikipedia.org/'

#download html with a get request
response = requests.get(url)
response.status_code 

#parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")

In [35]:
soup.select("h2.bookshelf-container:nth-child(1) > span > span > bdi")

[<bdi dir="ltr">
 1 000 000+
 </bdi>]

In [36]:
soup.select("h2.bookshelf-container:nth-child(3) > span > span > bdi")

[<bdi dir="ltr">
 100 000+
 </bdi>]

In [37]:
languages1m = []

for language in soup.select("div.langlist:nth-child(2) > ul > li > a"):
    languages1m.append(language.get_text())

In [38]:
languages100k = []

for language in soup.select("div.langlist:nth-child(4) > ul > li > a"):
    languages100k.append(language.get_text())

In [39]:
languages10k = []

for language in soup.select("div.langlist:nth-child(6) > ul > li > a"):
    languages10k.append(language.get_text())

In [40]:
languages1k = []

for language in soup.select("div.langlist:nth-child(8) > ul > li > a"):
    languages1k.append(language.get_text())

In [41]:
languages100 = []

for language in soup.select("div.langlist:nth-child(8) > ul > li > a"):
    languages100.append(language.get_text())

In [42]:
df1 = pd.DataFrame(languages1m, columns=['Language'])

In [43]:
df1["Articles"] = "1 Million+"

In [44]:
df1

                 Language    Articles
0                  Polski  1 Million+
1                 العربية  1 Million+
2                 Deutsch  1 Million+
3                 English  1 Million+
4                 Español  1 Million+
5                Français  1 Million+
6                Italiano  1 Million+
7                    مصرى  1 Million+
8              Nederlands  1 Million+
9                     日本語  1 Million+
10              Português  1 Million+
11                Русский  1 Million+
12  Sinugboanong Binisaya  1 Million+
13                Svenska  1 Million+
14             Українська  1 Million+
15             Tiếng Việt  1 Million+
16                Winaray  1 Million+
17                     中文  1 Million+

In [45]:
df2 = pd.DataFrame(languages100k, columns=['Language'])

In [46]:
df3 = pd.DataFrame(languages10k, columns=['Language'])

In [47]:
df4 = pd.DataFrame(languages1k, columns=['Language'])

In [48]:
df5 = pd.DataFrame(languages100, columns=['Language'])

In [49]:
df2["Articles"] = "100k+"

In [50]:
df3["Articles"] = "10k+"

In [51]:
df4["Articles"] = "1k+"

In [52]:
df5["Articles"] = "100+"

In [53]:
frames = [df1, df2, df3, df4, df5]

In [54]:
result = pd.concat(frames)

In [55]:
result.head(50).reset_index(drop=True)

                 Language    Articles
0                  Polski  1 Million+
1                 العربية  1 Million+
2                 Deutsch  1 Million+
3                 English  1 Million+
4                 Español  1 Million+
5                Français  1 Million+
6                Italiano  1 Million+
7                    مصرى  1 Million+
8              Nederlands  1 Million+
9                     日本語  1 Million+
10              Português  1 Million+
11                Русский  1 Million+
12  Sinugboanong Binisaya  1 Million+
13                Svenska  1 Million+
14             Українська  1 Million+
15             Tiếng Việt  1 Million+
16                Winaray  1 Million+
17                     中文  1 Million+
18              Afrikaans       100k+
19             Slovenčina       100k+
20              Asturianu       100k+
21           Azərbaycanca       100k+
22              Български       100k+
23  Bân-lâm-gú / Hō-ló-oē       100k+
24                  বাংলা       100k+
25             Беларуская       100k+
26                 Català       100k+
27                Čeština       100k+
28                Cymraeg       100k+
29                  Dansk       100k+
30                  Eesti       100k+
31               Ελληνικά       100k+
32              Esperanto       100k+
33                Euskara       100k+
34                  فارسی       100k+
35                 Galego       100k+
36                    한국어       100k+
37                Հայերեն       100k+
38                 हिन्दी       100k+
39               Hrvatski       100k+
40       Bahasa Indonesia       100k+
41                  עברית       100k+
42                ქართული       100k+
43                 Latina       100k+
44               Latviešu       100k+
45               Lietuvių       100k+
46                 Magyar       100k+
47             Македонски       100k+
48          Bahasa Melayu       100k+
49     Bahaso Minangkabau       100k+

# DATASETS FROM GOV.UK

In [56]:
url = 'https://data.gov.uk/'

#download html with a get request
response = requests.get(url)
response.status_code 

#parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")

In [57]:
soup.select(".govuk-list > li > h3 > a")

[<a class="govuk-link" href="/search?filters%5Btopic%5D=Business+and+economy">Business and economy</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Crime+and+justice">Crime and justice</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Defence">Defence</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Education">Education</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Environment">Environment</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Government">Government</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Government+spending">Government spending</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Health">Health</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Mapping">Mapping</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Society">Society</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Towns+and+cities">Towns and cities</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Transport">Transport</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Digital+service+performance">Digital service performance</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Government+reference+data">Government reference data</a>]

In [58]:
data = []

for value in (soup.select(".govuk-list > li > h3 > a")):
    data.append(value.get_text())

data

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

# TOP 10 Languages by native speakers

In [163]:
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

#download html with a get request
response = requests.get(url)
response.status_code 

#parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")

In [164]:
soup.select("table.wikitable:nth-child(16) > tbody:nth-child(2) > tr:nth-child(2) > td:nth-child(2) > a")

In [165]:
soup.select("table.wikitable:nth-child(16) > tbody:nth-child(2) > tr:nth-child(3) > td:nth-child(2) > a")

In [166]:
soup.select("table.wikitable:nth-child(16) > tbody:nth-child(2) > tr:nth-child(4) > td:nth-child(2) > a")

In [224]:
iterations = range(2, 12, 1)
languages = []
for i in iterations:
    position= str(i)
    a = soup.select("table.wikitable:nth-child(16) > tbody:nth-child(2) > tr:nth-child("+position+") > td:nth-child(2) > a")
    languages.append(a)

    languages

In [225]:
languages

[[<a href="/wiki/Mandarin_Chinese" title="Mandarin Chinese">Mandarin Chinese</a>],
 [<a href="/wiki/Spanish_language" title="Spanish language">Spanish</a>],
 [<a href="/wiki/English_language" title="English language">English</a>],
 [<a href="/wiki/Hindi" title="Hindi">Hindi</a>,
  <a href="/wiki/Hindustani_language" title="Hindustani language">Hindustani</a>],
 [<a href="/wiki/Bengali_language" title="Bengali language">Bengali</a>],
 [<a href="/wiki/Portuguese_language" title="Portuguese language">Portuguese</a>],
 [<a href="/wiki/Russian_language" title="Russian language">Russian</a>],
 [<a href="/wiki/Japanese_language" title="Japanese language">Japanese</a>],
 [<a href="/wiki/Punjabi_language" title="Punjabi language">Western Punjabi</a>],
 [<a href="/wiki/Marathi_language" title="Marathi language">Marathi</a>]]

In [226]:
df1 = pd.DataFrame(languages, columns=['Language','Language2'])

In [227]:
df1.head()

             Language     Language2
0  [Mandarin Chinese]          None
1           [Spanish]          None
2           [English]          None
3             [Hindi]  [Hindustani]
4           [Bengali]          None

In [228]:
df1.drop(['Language2'],axis=1,inplace=True)

In [229]:
df1.head(11)

             Language
0  [Mandarin Chinese]
1           [Spanish]
2           [English]
3             [Hindi]
4           [Bengali]
5        [Portuguese]
6           [Russian]
7          [Japanese]
8   [Western Punjabi]
9           [Marathi]

In [230]:
speakers = []

for i in range(0,10):   
    soup.select("table.wikitable:nth-child(16) > tbody > tr > td:nth-child(3)")
    speakers.append(soup.select("table.wikitable:nth-child(16) > tbody > tr > td:nth-child(3)")[i].get_text())

In [231]:
df2 = pd.DataFrame(speakers)

In [232]:
df2.head(20)

        0
0   918\n
1   480\n
2   379\n
3   341\n
4   300\n
5   221\n
6   154\n
7   128\n
8  92.7\n
9  83.1\n

In [233]:
frames = [df1,df2]

In [234]:
result = pd.concat(frames,axis=1)

In [235]:
result.head(20)

             Language       0
0  [Mandarin Chinese]   918\n
1           [Spanish]   480\n
2           [English]   379\n
3             [Hindi]   341\n
4           [Bengali]   300\n
5        [Portuguese]   221\n
6           [Russian]   154\n
7          [Japanese]   128\n
8   [Western Punjabi]  92.7\n
9           [Marathi]  83.1\n